@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  font-family: Jost;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.animated-button-cards::before {
  @apply pointer-events-none absolute rounded-lg select-none opacity-0 transition-opacity duration-300 hover:opacity-100;
  background: radial-gradient(200px circle at var(--x) var(--y),
      rgba(254, 249, 195, 0.62) 0,
      rgba(249, 168, 212, 0.62) 25%,
      rgba(255, 255, 255, 0) 50%,
      transparent 75%);
  z-index: -1;
  content: '';
  inset: -1px;
}

.animated-button-cards:hover {
  opacity: 100;
}

.animated-writing-feature-cards::before {
  @apply pointer-events-none absolute rounded-3xl select-none opacity-0 transition-opacity duration-300 hover:opacity-100;
  background: radial-gradient(1200px circle at var(--x) var(--y),
      rgba(254, 249, 195, 0.62) 0,
      rgba(249, 168, 212, 0.62) 25%,
      rgba(255, 255, 255, 0) 50%,
      transparent 75%);
  z-index: -1;
  content: '';
  inset: -1px;
}

.animated-writing-feature-cards:hover {
  opacity: 100;
}

.animated-feature-cards::before {
  @apply pointer-events-none absolute rounded-3xl select-none opacity-0 transition-opacity duration-300 hover:opacity-100;
  background: radial-gradient(600px circle at var(--x) var(--y),
      rgba(254, 249, 195, 0.62) 0,
      rgba(249, 168, 212, 0.62) 25%,
      rgba(255, 255, 255, 0) 50%,
      transparent 75%);
  z-index: -1;
  content: '';
  inset: -1px;
}

.animated-feature-cards:hover {
  opacity: 100;
}

code {
  counter-reset: line;
  padding: 15px;

  margin: 1rem 0;
}

pre {
  border-radius: 15px;
  margin: 2rem 0;
}


code>[data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code>[data-highlighted-line] {
  background-color: #32323D;
}

code[data-line-numbers-max-digits='2']>[data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3']>[data-line]::before {
  width: 3rem;
}
/* 
#hero-profile-img {
  mask:
    radial-gradient(at 70% 31%,#000 29%,#0000 30%),
    radial-gradient(at 30% 31%,#000 29%,#0000 30%),
    linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
  clip-path: polygon(-51% 0,45% 101%, 120% 10%);
} */